@import "bootswatch/dist/minty/variables";
@import "./base/variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/minty/bootswatch";
@import "./utils/_mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $light;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none !important;
}

.bottom-bar {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background-color: $success !important;
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    height: 3em;
    padding: 1px;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.top-bar {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background: linear-gradient(to right, $success, $secondary); // Cambia il gradient come preferisci
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    height: 3em;
    padding: 1px;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.side-bar-left {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background: linear-gradient(to bottom, $success, $secondary);
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    padding: 1px;
    border-top-right-radius: 1.2em;
    position: fixed;
    z-index: 1000;

    .col {
        @include side-bar-element;
    }

    span {
        &:hover {
            cursor: pointer;
        }
    }

    @include media-breakpoint-up(md) {
        width: 3.5em;
        left: 0;
    }

    @include media-breakpoint-up(xl) {
        width: 12em;
        left: 0;
    }

    @include media-breakpoint-up(xxl) {
        width: 12em;
        left: 12em;

        &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 12em;
            background: linear-gradient(to bottom, $success, $secondary);
            box-shadow: 0 0 1px $dark !important;
        }
    }

    .form-check-input {
        background-color: transparent;
        --bs-form-check-bg-image: none !important;

        &:checked {
            background-color: $secondary;
        }
    }

}

.side-bar-right {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    position: fixed;
    z-index: 1000;
    color: $black;
    padding: 1px;
    height: 100%;
    max-width: 15em;
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }

    @include media-breakpoint-up(xl) {
        display: block;
        max-width: 18em;
    }

    @include media-breakpoint-up(xxl) {
        display: block;
        max-width: 20em;
    }

    .right-element {
        box-shadow: 0 0 10px $dark !important;
        border-radius: 1.2em;
        margin: 1.2em 0;
    }

    .search-bar {
        background-color: $success;
        height: 3em;
        padding: 6px 10px;

        form {
            width: 100%;
        }
    }

    .suggested {
        background: linear-gradient($success , $secondary);
        height: 40em;

        :first-child {
            font-size: 1.2em;
        }

        a>p {
            &:hover {
                font-size: 1.5em;
                cursor: pointer;
                color: $black;
            }
        }
    }

    .footer {
        background-color: $secondary;
        color: $dark;
        height: 10em;
        padding-top: 10px;
        padding-left: 1em;
    }
}

.vegarden-text {
    font-size: 1.5em;
    color: black;
    font-style: italic;
}

.feed-tab {
    font-size: 1.2em;
}

.article-preview {
    border-radius: 0;
    color: $black;
    background-color: $white;
    margin: 1em 0;
    transition: transform 0.3s ease-in-out;
    height: 35em;
    width: 100%;
    border: 1px solid $secondary;

    &:hover {
        border: 1px solid $success;
        box-shadow: 1px 1px 10px $success;
    }

    @include media-breakpoint-up(sm) {
        width: 30em;

        &:hover {
            transform: translateX(-1.5em);
        }
    }

    @include media-breakpoint-up(md) {
        width: 40em;


    }

    @include media-breakpoint-up(lg) {
        width: 35em;
    }

    @include media-breakpoint-up(xl) {
        width: 35em;
    }

    @include media-breakpoint-up(xxl) {
        width: 35em;
    }

    @include media-breakpoint-up(xxxl) {
        width: 50em;
    }

    .row {
        height: 20%;
    }

    .card-image {
        height: 50%;
    }

    .card-body {
        height: 30%;
        @include text-wrap;
    }

    .author {
        border: 3px solid $secondary;
        @include mini-avatar;
    }

    .title {
        background-color: $white !important;
        border: 0;
        text-align: center;
        @include text-wrap;
    }

    .cover {
        height: 18em;
        aspect-ratio: 4/3;
        object-fit: contain;
        object-position: center;
    }

    .description {
        margin-bottom: 0.625em;
        text-decoration: none !important;
        height: 100%;
        font-style: italic;
        padding: 0 0.625em;
        @include text-wrap;
    }
}


.article-detail {

    h1 {
        color: $primary;
        margin: 0 0.5em;
        text-align: center;
        @include text-wrap;
    }

    .cover {
        height: 18em;
        aspect-ratio: 4/3;
        object-fit: contain;
        object-position: center;

        @include media-breakpoint-up(lg) {
            height: 36em;
        }
    }

    .body {
        color: $black;
        margin-top: 10px;
        font-size: 20px;
        line-height: 1.5;
        @include text-wrap;
    }
}


.my-input {
    @include input-border;
}

.reaction {
    background-color: $warning;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid $secondary;
    cursor: pointer;

    &:hover {
        background-color: $secondary;
        border: 2px solid $secondary;
    }
}

.liked {
    background-color: $secondary;
    border: 2px solid $warning;
}


/* .avatar {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
} */

.profile {
    @include text-wrap;

    @include media-breakpoint-up(xxl) {
        padding: 0 1.5em;
    }
}

.nav-button {
    background-color: transparent !important;
    border: 0 !important;
    color: $success !important;
    font-size: 1.5em !important;
    cursor: pointer;

    &:hover {
        color: $secondary !important;
    }
}

.avatar {
    @include maxi-avatar;
}

.profile {
    margin: 2em 0em 0 0.5em;
    padding-right: 10px;
    color: $dark;

    .info {
        padding: 0 0.5em;
        @include text-wrap;
        display: inline;
    }

    .numbers {
        height: 5em;
        padding-left: 0;
        padding-right: 1.5em;

        button {
            border: 2px solid $secondary;
            width: 4em;
            aspect-ratio: 1;
            border-radius: 50%;
            margin-left: 1em;
        }

    }

    .bio {
        font-style: italic;
        margin-top: 0.5em;
        
    }

}

.v-button {
    border: 2px solid $warning !important;
    width: 4em;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 0.2em;
}

.welcome-image {
    height: 32em;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(sm) {
        padding: 3em;
    }

    @include media-breakpoint-up(md) {
        padding: 0;
    }
}

.dropdown {
    border: none;

    &:hover {
        cursor: pointer;
        border: none !important;
    }

    .dropdown-menu {
        margin-top: 0.8em;
        box-shadow: 0 0 10px $dark !important;
        backdrop-filter: blur(5px);
        padding: 1em 0;
    }

    .dropdown-toggle {
        border: none !important;

        &::after {
            content: none;
        }
    }

    .dropdown-item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $black !important;

        &:hover {
            font-size: 1.5em;
            background-color: transparent;

        }
    }
}