@import "bootswatch/dist/minty/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/minty/bootswatch";
@import "./utils/_mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Resto del tuo codice SCSS


html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: $light;
    font-family: "Montserrat", sans-serif;
}

.bottom-bar {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background-color: $success !important;
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    height: 3em;
    padding: 1px;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.top-bar {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background: linear-gradient(to right, $success, $secondary); // Cambia il gradient come preferisci
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    height: 3em;
    padding: 1px;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.side-bar {
    @extend .shadow-none;
    @extend .p-0;
    @extend .m-0;
    background: linear-gradient(to bottom, $success, $secondary);
    padding: 1em;
    box-shadow: 0 0 10px $dark !important;
    width: 3.5em;
    padding: 1px;
    border-top-right-radius: 1.2em;

    .col {
        @include side-bar-element;
    }

    span {
        &:hover {
            cursor: pointer;
        }
    }
}

.vegarden-text {
    font-size: 1.5em;
    color: black;
    &hover {
        text-decoration: none !important;
    }
}

.feed-tab {
    font-size: 1.2em;
}

.articlePreview {
    border-radius: 10px;
    color: $black;
    background-color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    // padding: 1.25em;
    margin-bottom: 1.25em;
    transition: transform 0.3s ease-in-out;
    height: 30em;
    width: 20em;

    @include media-breakpoint-up(md) {
        &:hover {
            transform: translateY(-0.3125em);
        }
    }

    .title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0.625em;
    }

    .cover {
        width: 75%;
        height: auto;
    }

    .description {
        margin-bottom: 0.625em;
    }

    .author {
        font-style: italic;
    }

    .read-more {
        color: $success;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .card-header {
        background-color: $primary;
        color: $black;
        padding: 0.625em;
        margin-bottom: 0.625em;
    }

    .card-text {
        padding: 0.625em;
        color: $black;
    }

    .rounded-circle {
        border: 2px solid $secondary;
    }
}

.article-detail {
    color: $black;

    h1 {
        font-size: 24px;
        color: $primary;
    }

    .cover {
        max-width: 100%;
        height: auto;
    }

    .body {
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.5;
        @include text-wrap;
    }
}


.my-input {
    @include input-border;
}

.reaction {
    background-color: $warning;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid $secondary;
    cursor: pointer;

    &:hover {
        background-color: $secondary;
        border: 2px solid $secondary;
    }
}

.liked {
    background-color: $secondary;
    border: 2px solid $warning;
}


.avatar {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
}

.profile {
    @include text-wrap;
}

.avatar-mini {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}