@import "bootswatch/dist/minty/variables";
@import "bootswatch/dist/minty/bootswatch";

@mixin input-border {
    border: 1px solid $secondary;
    color: $black;

    &:focus {
        border: 2px solid $primary;
        color: $black;
    }

}

@mixin side-bar-element{
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .mb-3;
    @extend .px-1;
}